body
{
	background-color:#213675;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:white;
	font-size: 2em;
	font-weight: bold;
}
#tree
{
	position: relative;
}
.titleNameBox
{
	font:Helvetica;
	padding: 45px;
	margin: 15px;
	color:yellow;
}
.titleName
{
	color: white;
	font-size: 2.25em;
}
.score
{
	text-align: left;
}
.main
{
	margin: auto;
	width: 500px ;
	margin-left: auto ;
	margin-right: auto ;
}
.star
{
	position: absolute;
	top: 0;
	left: 147;	
	display:none;
}
.candle1
{
	position: absolute; 
	top: 130;
	left: 30;
}
.candle2
{
	position: absolute; 
	top: 130; 
	left: 350;
}
.candle3
{
	position: absolute; 
	top: 330;
	left: 50;
}
.candle4
{
	position: absolute; 
	top: 330;
	left: 350;
}
.candle5
{
	position: absolute; 
	top: 190;
	left: 150;
}
.candle6
{
	position: absolute; 
	top: 190;
	left: 240;
}
.candle7
{
	position: absolute; 
	top: 320;
	left: 195;
}
.titleBox
{
	height: auto;
	border: 24px white solid;
	padding: 15px;
	margin: 15px;
	text-align:center;
	background: white;	
    border-radius: 25px;
	color: #612D87;
}
.titleBoxAlt
{
	height: auto;
	border: 24px #612D87 solid;
	padding: 15px;
	margin: 15px;
	text-align:center;
	background: #612D87;	
    border-radius: 25px;
    color:white;
}
.completeBox
{
	font-size: 0.75em;
	height: auto;
	border: 24px #612D87 solid;
	padding: 15px;
	margin: 15px;
	text-align:center;
	background: #612D87;
    border-radius: 25px;
}
.hide
{
	display:none;
}

/* Taken from http://schier.co/blog/2014/10/22/pure-html-share-buttons.html */
.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 4em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email       { background: #444444; }