body
{
	background-color:#213675;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:white;
	font-size: 1.5em;
	font-weight: bold;
}

.Main
{
	margin: auto;
	width: 300px ;
	margin-left: auto ;
	margin-right: auto ;
	text-align: center;
}
#Score
{
	position: absolute;
	top: 0px;
	left: 0px;
}
#Tree
{
	position: relative;
	background: url(../images/tree_dots.png) no-repeat 0 100%;
	padding-bottom:450px;
}

#Star1
{
	position:absolute;
	top: 389px;
	left: 162px;
}
#Star2
{
	position:absolute;
	top: 380px;
	left: 206px;
}
#Star3
{
	position: absolute;
	top: 372px;
	left: 226px;
}
#Star4
{
	position: absolute;
	top: 345px;
	left: 236px;
}
#Star5
{
	position: absolute;
	top: 346px;
	left: 195px;
}
#Star6
{
	position: absolute;
	top: 353px;
	left: 118px;
}
#Star7
{
	position: absolute;
	top: 356px;
	left: 56px;
}
#Star8
{
	position: absolute;
	top: 348px;
	left: 0px;
}
#Star9
{
	position: absolute;
	top: 310px;
	left: 52px;
}
#Star10
{
	position: absolute;
	top: 297px;
	left: 127px;
}
#Star11
{
	position: absolute;
	top: 296px;
	left: 165px;
}
#Star12
{
	position: absolute;
	top: 300px;
	left: 220px;
}
#Star13
{
	position: absolute;
	top: 252px;
	left: 212px;
}
#Star14
{
	position: absolute;
	top: 227px;
	left: 149px;
}
#Star15
{
	position: absolute;
	top: 245px;
	left: 98px;
}
#Star16
{
	position: absolute;
	top: 216px;
	left: 79px;
}
#Star17
{
	position: absolute;
	top: 178px;
	left: 148px;
}
#Star18
{
	position: absolute;
	top: 157px;
	left: 175px;
}
#Star19
{
	position: absolute;
	top: 141px;
	left: 118px;
}
#Star20
{
	position: absolute;
	top: 156px;
	left: 57px;
}
#Star21
{
	position: absolute;
	top: 114px;
	left: 105px;
}
#Star22
{
	position: absolute;
	top: 83px;
	left: 128px;
}


#TopStar
{
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 110px;
}
.TitleLogoBox
{
	font:Helvetica;
	padding: 15px;
	margin: 15px;
}
.TitleName
{
	color: white;
	font-size: 2.25em;
}
.Score
{
	text-align: left;
}
.TitleBox
{
	font-size: 0.8em;
	height: auto;
	border: 5px white solid;
	padding: 5px;
	margin: 15px;
	text-align:center;
	background: white;	
    border-radius: 25px;
	color: #612D87;
}
.Button
{
	height: auto;
	border: 10px #612D87 solid;
	padding: 5px;
	margin: 15px;
	text-align:center;
	background: #612D87;	
    border-radius: 25px;
    color: white;
}
.CompleteBox
{
	font-size: 0.75em;
	height: auto;
	border: 24px #612D87 solid;
	padding: 5px;
	margin: 15px;
	text-align:center;
	background: #612D87;
    border-radius: 25px;
}
.Hide
{
	display: none;
}