body
{
	background-color:#213675;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:white;
	font-size: 1.5em;
	font-weight: bold;
}

.Main
{
	margin: auto;
	width: 300px ;
	margin-left: auto ;
	margin-right: auto ;
	text-align: center;
}
#Score
{
	position: absolute;
	top: 0px;
	left: 0px;
}
#Tree
{
	position: relative;
	background: url(../images/tree_dots.png) no-repeat 0 100%;
	padding-bottom:450px;
}
#Star1
{
	position:absolute;
	top: 389px;
	left: 162px;
}
#Star2
{
	position:absolute;
	top: 380px;
	left: 206px;
}
#Star3
{
	position: absolute;
	top: 372px;
	left: 226px;
}
#TopStar
{
	position: absolute;
	top: 0px;
	left: 110px;
}
.TitleLogoBox
{
	font:Helvetica;
	padding: 15px;
	margin: 15px;
}
.TitleName
{
	color: white;
	font-size: 2.25em;
}
.Score
{
	text-align: left;
}
.TitleBox
{
	height: auto;
	border: 5px white solid;
	padding: 5px;
	margin: 10px;
	text-align:center;
	background: white;	
    border-radius: 25px;
	color: #612D87;
}
.Button
{
	height: auto;
	border: 10px #612D87 solid;
	padding: 5px;
	margin: 5px;
	text-align:center;
	background: #612D87;	
    border-radius: 25px;
    color: white;
}
.CompleteBox
{
	font-size: 0.75em;
	height: auto;
	border: 24px #612D87 solid;
	padding: 5px;
	margin: 5px;
	text-align:center;
	background: #612D87;
    border-radius: 25px;
}
.Hide
{
	display: none;
}